*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Developer
.idea/

# Temporary files
__/

# Local configs.
# conf/settings.ini
